* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.detailContainer {
  text-align: center;
  display: flex;
  justify-content: center;
}
.itemDetail {
  background-image: url(/Bg-img.jpg);
  background-position: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid black;
  border-radius: 10px;
  margin: 10px;
}

.detailTitle {
  color: white;
  font-family: monospace;
  font-size: 2rem;
  text-shadow: 0 0 10px rgb(0, 0, 0);
}
.detailImg {
  width: 400px;
  image-rendering: pixelated;
}
.detailImg:hover {
  transform: rotateY(1440deg);
  transition: 2s;
}

.detailType {
  font-family: monospace;
  color: white;
  font-size: 1.5rem;
  text-shadow: 0 0 10px rgb(0, 0, 0);
}
.detailInfo,
.detailPrice {
  color: white;
  font-size: 1.5rem;
  font-family: monospace;
  margin: 10px;
  text-shadow: 0 0 10px rgb(0, 0, 0);
}
.detailCloseBtn {
  margin-top: 10px;
  border-radius: 50%;
  width: 20px;
  margin-left: 800px;
  cursor: pointer;
  background-color: white;
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-family: monospace;
  font-size: 1rem;
}
.detailCloseBtn:hover {
  background-color: black;
  color: red;
  transition: 1s;
}
