.countContainer {
  width: 50%;
  text-align: center;
  color: white;
}
.countBtnsConteiner {
  display: flex;
  justify-content: space-evenly;
}
.countBtns {
  width: 20px;
  border-radius: 5px;
  border: none;
}
.buyBtn {
  width: 40%;
  margin: 5px 0;
  height: 30px;
  border-radius: 10px;
  border: none;
}
